.contact-form{
  margin-left: 105px;
}

.contact-img{

  height: 364px;
  width: 545px;
  
}

#text-description{

  max-width: 370px;
  max-height: 122px;
  min-height: 122px;

}

.sumbit-button{

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  margin-bottom: 20px;
  margin-top: 4px;
  margin: auto;
  box-shadow: 5px 5px 10px gray;
  transition: transform 0.3s ease;
}


.sumbit-button:hover{


  background-color:#f28b82;
  color: white;
  transform: scale(1.1);
}

#contact::-webkit-inner-spin-button,
#contact::-webkit-outer-spin-button {
    -webkit-appearance: none;

}