.button-login{

border: 1px solid salmon;
border-radius: 10px;

}

.button-login:hover{

    background-color: salmon;
    color: white;
}
.button-verified:hover{
background-color: salmon;

    color: white;
    
}
.button-verified{
   margin: auto;
border: 1px solid salmon;

    
}


